@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic,700italic|Droid+Sans:400,700|Creepster);

/*
    Eric Meyer's Reset CSS v2.0 - http://cssreset.com -- remove font:inherint if using bold or italic tags from database
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,
img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,
section,summary,time,mark,audio,video{ border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0 }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display:block }
body{ line-height:1 }
ol,ul{ list-style:none }
blockquote,q{ quotes:none }
blockquote:before,blockquote:after,q:before,q:after{ content:none }
table{ border-collapse:collapse;border-spacing:0 }



/*
    global anchor tag
*/
a:link, a:visited, a:active, a:focus { border: none; outline: none; }



/*
    global selection
*/
::selection{ color: rgb(207, 255, 184); }
::-moz-selection{ color:  rgb(207, 255, 184); }



/*
    html, body, wrapper
*/
body{ margin:0px;
    background:#fff url(../images/mochaGrunge_overlay.png) repeat 0 0;
    font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
    font-size:.9em;
}

html, body { height: 100%; }

#stage {
    position:relative;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 480px;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height + padding */
    padding: 150px 20px 20px 20px;
}

a.logo-img {
    display:inline-block;
    border:none;
    outline:none;
    margin-top:5px;
    background: url(../images/logo.png) no-repeat 0 0;
    width:auto;
    height:114px;
    padding: 40px 40px 40px 130px;
    z-index: 100;
}

a.logo-img img{
    width:400px;
}



/*
    Preloader
*/
.preload-background{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin: 0 auto;
    background: rgba(122,122,122,.2);
}

.preload-background .loading-wrapper{
    text-align: center;
    margin-top:10%;
}



/*
    header, footer
*/
#header, #footer{
    position:absolute;
    left:0;
    /*min-width:665px;*/
    width:100%;
    background-color:rgba(0,0,0,0.85);
    height:auto;
    text-align:center;
    color:rgb(216,17,17);
    z-index:20;
}

#header{
    top:0;
    height: 150px;
    line-height:35px;
    font-size:1.9em;
    font-weight:900;
    -webkit-box-shadow: 0px 4px 8px rgba(60, 60, 60, 0.73);
    -moz-box-shadow:    0px 4px 8px rgba(60, 60, 60, 0.73);
    box-shadow:         0px 4px 8px rgba(60, 60, 60, 0.73);
    background-image: url("../images/spiderweb-right.png?");
    background-position:right top;
    background-repeat: no-repeat;
}

#footer{
    position: fixed;
    bottom: 0;
    line-height:32px;
    padding:20px 0px;
    font-size:1.2em;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight:900;
    color:rgb(216,17,17);
    -webkit-box-shadow: 0px -4px 8px rgba(60, 60, 60, 0.73);
    -moz-box-shadow:    0px -4px 8px rgba(60, 60, 60, 0.73);
    box-shadow:         0px -4px 8px rgba(60, 60, 60, 0.73);
    background-image: url("../images/spiderweb-left.png");
    background-position:left top;
    background-repeat: no-repeat;
}

#header .row{
    margin:0;
}

#header span, #footer span{
    font-family: 'Creepster', Arial, Helvetica, sans-serif;
    font-weight:600;
    font-size:1em;
    color:rgb(216,17,17);
}

#footer span, #footer span span{
    font-family: 'LATO', Arial, Helvetica, sans-serif;
    font-size:.67em;
    font-weight:400;
}

#footer span span a{
    font-size:1.3em !important;
}

#header span.widget {
    color:rgb(99, 14, 4);
}

#header a.link {
    float:right;
    border:none;
    outline:none;
    width:100px;
    height:10px;
    margin-top:5px;
    margin-right:30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
    text-align:center;
    text-decoration:none;
    line-height:27px;
    font-size:.4em;
    background-color:rgb(27,109,108);
    color:rgb(186,244,233);
}

#header nav{
    position:absolute;
    bottom:0;
    right:0;
    height: 30px;
    width: 100%;
    background: rgb(76,76,76); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

#header nav ul{
    list-style: none;
    text-align: right;
}

#header nav ul li{
    display: inline-block;
    float: left;
    display: inline;
    border-right: 1px solid #3C3C3C;
    line-height: 27px;
    height: 30px;
    padding: 0 2.5%;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.6);

}

#header nav ul li a{
    font-family: 'LATO', Arial, Helvetica, sans-serif;
    font-size:13px;
    color:rgb(216,17,17);
    font-weight: 700 !important;
}

#header nav ul li:hover, #header nav ul li:active, #header nav ul li:focus{
    color: rgb(248, 255, 30);
    background: rgb(248,80,50); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}

#header nav ul li:hover a, #header nav ul li:active a, #header nav ul li:focus a
#header nav ul li a:hover, #header nav ul li a:active, #header nav ul li a:focus{
    color: rgb(248, 255, 30);
    font-family: 'Creepster', Arial, Helvetica, sans-serif;
    font-size:20px;
}

#header .header-tagline{
    font-family: 'Creepster', Arial, Helvetica, sans-serif;
    font-size:1.7em;
    float:right;
    height:100%;
    padding: 20px;
    color: rgba(247, 189, 24, 1);
    text-shadow: 3px 3px 26px rgba(90, 3, 232, 0.8)
}

#footer{
    padding:5px;
}

#footer span, #footer span a, #header nav ul li a{
    font-weight:400;
    color:rgb(216,17,17);
    text-decoration:none;
}

#footer span a:hover, #header nav ul li a:hover {
    text-decoration:underline;
    color:rgb(185, 228, 64);
}

#footer, .push { height: 50px; /* '.push' must be the same height as 'footer' */ }



/*
    helpers
*/
.center {
    text-align: center;
}

.clear:before,
.clear:after{
    content: " ";
    display: table;
}

.clear:after{
    display: block;
    clear: both;
}

.overflow-none{
    overflow: hidden;
}

.content-spacer {
    display:block;
    width:100%;
    height:130px;
}

.text-glow{  text-shadow: 0px 0px 18px rgba(166,166,166, 0.67); }

.text-glow-icn{ text-shadow: 0px 0px 18px rgba(255,255,255, 0.67); }

.text-shadow{text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);}

.icon-position{ margin-right:-7px;}

.spacer-top { display:block; width:100%; margin-top:15px; }

.spacer-bottom { display:block; width:100%; margin-bottom: 15px; }

.spacer-bottom-40 { display:block; width:100%; margin-bottom: 40px; }

.spacer-all { display:block; width:100%; margin: 15px 0px; }



/*
    Categories List Item
*/
.categories-item{
    position:relative;
    display:block;
    width:100%;
    max-width:460px;
    margin-bottom:20px;
}

.categories-item img{
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

.categories-item .categories-product-image-block{
    position: absolute;
    top: 30px;
    left:0;
    width:100%

}

.categories-item .categories-product-image-block img{
    position: absolute;
    right:-20px;
    height: 320px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor:pointer;
}

.categories-item .categories-product-image-block img:hover{
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.categories-item .categories-name{
   /* position: absolute;
    top: 8%;
    left:4%;*/
    display:block;
    width:auto;
    padding: 10px;
    margin-bottom:15px;
    font-family: 'Creepster', Arial, Helvetica, sans-serif;
    font-weight:600;
    font-size:4em;
    color:rgb(53,230,13);
    text-shadow: 3px 3px 23px rgba(207, 255, 184, .75);
    text-shadow: 3px 3px 26px rgba(186, 229, 255, .8);

}



/*
    Category List Item
*/
.category-list-featured-name{
    font-family: 'Creepster', Arial, Helvetica, sans-serif;
    font-weight:600;
    font-size:4em;
    text-align: center;
    color: rgb(238, 144, 112);
    color: rgba(247, 189, 24, 1);
    text-shadow: 3px 3px 26px rgba(90, 3, 232, 0.8);
    margin: 10px 0 30px;
}

.category-item{
    position:relative;
    display:block;
    width:100%;
    max-width:500px;
    margin-bottom:20px;
}

.category-item img{
    height: 400px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

.category-item .category-product-image-block{
    position: absolute;
    top: 20px;
    left:0;
    width:100%

}

.category-item .category-product-image-block img{
    position: absolute;
    right:-10px;
    height: 300px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor:pointer;
}

.category-item .category-product-image-block img:hover{
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.category-item .category-name{
    /* position: absolute;
     top: 8%;
     left:4%;*/
    display:block;
    width:auto;
    padding: 10px;
    font-family: 'Creepster', Arial, Helvetica, sans-serif;
    font-weight:600;
    font-size:2.3em;
    color: rgb(193, 232, 0);
    text-shadow: 3px 3px 23px rgba(207, 255, 184, .75);
    text-shadow: 3px 3px 26px rgba(0, 0, 0, 0.8);

}



/*
    Product Item
*/
.product-item {
    position:relative;
    display:block;
    width:100%;
    max-width:900px;
    margin-bottom:20px;
}

.product-item  img{
    margin-left: 40px;
    -webkit-box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 8px 0px rgba(50, 50, 50, 0.75);
}

.product-item .category-product-image-block{
    position: absolute;
    top: 20px;
    left:0;
    width:100%;
}

.product-item .category-product-image-block img{
    /*position: absolute;
    left:-40px;*/
    display: block;
    float: left;
    margin-left: 10px;
    margin-bottom:20px;
    -webkit-box-shadow: 4px 7px 23px 4px rgba(90, 3, 232, 0.75);
    -moz-box-shadow:    4px 7px 23px 4px rgba(90, 3, 232, 0.75);
    box-shadow:         4px 7px 23px 4px rgba(90, 3, 232, 0.75);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor:pointer;
}

.product-item  .category-product-image-block img:hover{
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.product-item  .product-name{
    display:block;
    padding: 10px 10px 10px 50px;
    font-family: 'Creepster', Arial, Helvetica, sans-serif;
    font-weight:600;
    font-size:2.6em;
    color: rgb(193, 232, 0);
    text-shadow: 4px 3px 23px rgba(90, 3, 232, 0.75);
    text-shadow: 3px 3px 26px rgba(0, 0, 0, 0.8);
}

.product-item .description{
    display: block;
    float: right;
    vertical-align: top;
    height: 100%;
    width:100%;
    min-width:360px;
    width:50%;
    margin:0 10px 60px;
    padding:20px;
    font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    z-index: 100;
    font-size:1.2em;
    color:rgb(248, 255, 30);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    background-color: rgba(102, 102, 102, 0.09);
    background: -moz-linear-gradient(right, rgba(121,121,121,.4) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(right, rgba(121,121,121,.4) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to left, rgba(121,121,121,.4) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#797979',GradientType=1 ); /* IE6-9 */
}

.product-item .description .tag-line{
    font-family: 'Creepster', Arial, Helvetica, sans-serif;
    font-size:1.7em;
    color:rgba(90, 3, 232, 0.75);
    text-shadow: 3px 3px 26px rgba(255, 125, 21, 0.8);
}



/*
    Breadcrumb
*/
.bread-crumb{
    padding: 20px 10px;
    font-family: 'LATO', Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.bread-crumb .current-view{
    font-family: 'Creepster', Arial, Helvetica, sans-serif;
    font-weight:400;
    font-size:1.4em;

    color: rgb(247, 173, 6);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 2px rgba(90, 3, 232, 0.8);
}

.bread-crumb i.fa{
    padding:0 12px 0 0;
    color: rgb(193, 232, 0);

    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.8);
}

.bread-crumb hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(216,17,17, 0.75), rgba(0, 0, 0, 0));
}

.bread-crumb a{
    color:rgb(216,17,17);
    font-weight: 600;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.6);
}

.bread-crumb a:hover{
    color: rgba(90, 3, 232, 0.8);
}

.bread-crumb a::before, .bread-crumb a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.bread-crumb a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.bread-crumb a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.bread-crumb a:hover::before, .bread-crumb a:hover::after,
.bread-crumb a:focus::before, .bread-crumb a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}



/*
    404 Page
*/
.error-code{
    margin-top: 40px;
    font-family: 'Creepster', Arial, Helvetica, sans-serif;
    font-weight:600;
    font-size:8em;
    color:rgb(216,17,17);
}

.error-message{
    font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    padding:15px 0;
    font-weight:400;
}

.error-message img{
    margin-top: 10px;
}



/*
    Under Construction Page
*/
#under-construction .error-code{
    margin-top: 40px;
    font-family: 'Creepster', Arial, Helvetica, sans-serif;
    font-weight:600;
    font-size:8em;
    color:rgb(216,17,17);
}

#under-construction .error-message{
    font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    padding:15px 0;
    font-weight:400;
}

#under-construction .error-message img{
    margin-top: 20px;
    margin-bottom: 20px;
}



/*
    Vendor Overrides
*/
.btn-primary{
    background-color:rgb(185, 228, 64);
    color: rgb(82, 115, 33);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: rgb(207, 255, 184);
    color: rgb(82, 115, 33);
}

.btn-danger{
    background-color:rgb(216,17,17);
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background-color: rgb(234,80,80);
}





/*
    Media Queries
*/
@media (max-width: 700px) {
    #header a.logo-img{
        float: left;
        padding-right:0;
        margin-right: -10px;
    }

    #header .header-tagline{
        float:left;
        font-size: 1.4em;
    }
}

